.PageSlider {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 90px;
}

.PageSlider .TitleAndButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.PageSlider .TitleAndButton span {
    width: 654px;
    height: 58px;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;

}

.PageSlider .TitleAndButton .Buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.PageSlider .TitleAndButton .Buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

.Cards {
    display: flex;
    margin-top: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.CardItem {
    width: 100%;
}


@media (max-width: 480px) {

    .PageSlider .TitleAndButton {
        width: 276px;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .PageSlider .TitleAndButton span {
        font-size: 23px;
        font-weight: 700;
        line-height: 27px;
        text-align: left;

    }

    .PageSlider .TitleAndButton .Buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .PageSlider .TitleAndButton .Buttons button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 15px;
    }

    .Cards {
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .CardItem {
        width: 500px;
        margin: 0 80px;
    }

    .Cardslid {
        width: 100%;
    }

}