
.selectSize {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 420px;
    height: auto;
    margin-top: 20px;
    flex-direction: column;

}

.selectSize .TextSelectItem {
    color: #00000099;
}

.selectSize .ItemSelect {
    display: flex;
    margin-top: 18px;

}

.selectSize .Select {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 5px;
}

.selectSize .ItemSelect .SelectColor {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.selectSize .ItemSelect .SelectColor span {
    width: 86px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 62px;
    background-color: black;
    color: #ece0e0;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;

}

.selectSize .ItemSelect .Select span {
    width: 86px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F0F0F0;
    border-radius: 62px;
    color: #00000099;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;

}