.Page {
    width: 100%;
    height: 866px;
    border-radius: 40px;
    background: rgba(240, 240, 240, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.Page .images {
    direction: rtl;
    padding: 20px;
}

.Page .images img {
    margin: 5px;
}
/* تنظیمات برای تبلت‌ها */

@media (min-device-width: 770px) and (max-device-width: 1024px) {
    .Page {
        width: 358px;
        height: auto;
        border-radius: 20px ;
        margin: 0 auto;
    }

    .Page .images {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .Page .images img {
        width: 310px;
        height: 190px;
    }

}

/* تنظیمات برای موبایل‌ها */
@media (min-device-width: 320px) and (max-device-width: 490px) {
    .Page {
        width: auto;
        height: auto;
        border-radius: 20px ;
        margin: 0 auto;
    }

    .Page .images {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Page .images img {
        width: 310px;
        height: 190px;
    }

}