.Card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.Card img {
    width: 280px;
    height: 280px;
    border-radius: 5px;
}

.Card span {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}

.Card .icons {
    margin-top: 10px;
}

.Card .icons img {
    width: 150px;
    height: 19px;
}

.Card p {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;

}