.CardItemPost {
    width: 520px;
    height: 239.58px;
    padding: 28px 32px 28px 32px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.CardItem {
    width: 400px;
    height: 239.58px;
    padding: 28px 32px 28px 32px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.CardItemPost .itemC {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.Title div {
    display: flex;
    direction: rtl;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-end;
}

.Title p {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}

.DatePost {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #00000099;
    line-height: 22px;
    text-align: left;

}

/* تنظیمات برای تبلت‌ها */
@media (min-device-width: 770px) and (max-device-width: 1024px) {
    .CardItemPost {
        width:358px;
        height:auto;
        padding: 24px ;
        gap: 332px;
        border-radius: 20px;
    }

    .CardItem {
        width: 330px;
        height: 205px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin-right: 40px;
    }

    .Title p {
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;


    }

}

/* تنظیمات برای موبایل‌ها */
@media (min-device-width: 320px) and (max-device-width: 699px)  {
    .CardItemPost {
        width:340px;
        height:auto;
        padding: 24px ;
        gap: 332px;
        border-radius: 20px;
    }

    .CardItem {
        width: 330px;
        height: 205px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin-right: 40px;
    }

    .Title p {
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;



    }

}