.footer {
    background-color: rgba(240, 240, 240, 1);
    margin-top: 120px;
}

.footerUp {
    display: flex;
    height: 180px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 1);
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    bottom: 80px;
}

.footerUp .text {
    text-align: left;
    width: 461px;
    padding-right: 40px;
    margin-right: 50px;
}

.footerUp .text span {
    color: rgba(255, 255, 255, 1);
    font-size: 34px;
    font-weight: bold;
}

.Subscribe {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-right: 50px;
}

.Subscribe div {
    display: flex;
    background: rgba(255, 255, 255, 1);
    direction: rtl;
    height: 40px;
    width: 349px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}

.Subscribe div input {
    outline: none;
    border: none;
    width: 300px;
    background-color: transparent;
    direction: ltr;

}

.Subscribe div img {
    margin-left: 15px;
}

.Subscribe button {
    margin-top: 10px;
    height: 40px;
    width: 349px;;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
}


.footerBottom {

    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
}

.logoFooter h1 {
    font-size: 33.45px;
    font-weight: 700;
    line-height: 40.15px;
    text-align: left;


}

.logoFooter p {
    margin-top: 10px;
    width: 248px;
    height: 66px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;

}

.logoFooter .linkProfile {
    margin-left: -16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoFooter .linkProfile a {
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 15px;
    border-radius: 50px;
}

.logoFooter .linkProfile a:hover {
    background-color: black;
}

.logoFooter .linkProfile a:hover svg {
    color: #eeeeee;
}

.logoFooter .linkProfile svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.listMenu span {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 3px;
    text-align: left;

}

.listMenu ul {
    margin-top: 10px;
    width: 149px;
    height: 133px;

}

.listMenu ul li {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-top: 20px;

}

.footerTextBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.footerTextBottom span {
    color: rgba(0, 0, 0, 0.6);
    margin-left: 100px;
}

.footerTextBottom .LinkImg {
    margin-right: 100px;
}
@media (min-device-width: 770px) and (max-device-width: 1024px){
    .footerUp {
        flex-direction: column;
        width: 335px;
        height: 296px;
        align-items: center;
        padding: 5px;
        justify-content: space-around;

    }

    .footerUp .text {
        text-align: left;
        width: 320px;
        display: flex;
        margin-left: 80px;
        justify-content: space-between;
        align-items: center;
    }

    .footerUp .text span {
        color: rgba(255, 255, 255, 1);
        font-size: 32px;
        font-weight: bold;
    }

    .Subscribe {
        margin: 0 auto;
    }

    .Subscribe div {
        display: flex;
        background: rgba(255, 255, 255, 1);
        direction: rtl;
        height: 40px;
        width: 270px;
        justify-content: space-between;
        align-items: center;
        border-radius: 50px;
    }

    .Subscribe div input {
        outline: none;
        border: none;
        width: 270px;
        background-color: transparent;
        direction: ltr;
        margin-left: 20px;
    }

    .Subscribe button {
        margin-top: 10px;
        height: 40px;
        width: 270px;
        border-radius: 50px;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .footerTextBottom {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footerTextBottom span {
        margin: 0;
    }

    .footerTextBottom .LinkImg {
        margin-right: 0;
        margin-top: 20px;
    }
}
@media (min-device-width: 320px) and (max-device-width: 490px){
    .footerUp {
        flex-direction: column;
        width: 335px;
        height: 296px;
        align-items: center;
        padding: 5px;
        justify-content: space-around;

    }

    .footerUp .text {
        text-align: left;
        width: 320px;
        display: flex;
        margin-left: 80px;
        justify-content: space-between;
        align-items: center;
    }

    .footerUp .text span {
        color: rgba(255, 255, 255, 1);
        font-size: 32px;
        font-weight: bold;
    }

    .Subscribe {
        margin: 0 auto;
    }

    .Subscribe div {
        display: flex;
        background: rgba(255, 255, 255, 1);
        direction: rtl;
        height: 40px;
        width: 270px;
        justify-content: space-between;
        align-items: center;
        border-radius: 50px;
    }

    .Subscribe div input {
        outline: none;
        border: none;
        width: 270px;
        background-color: transparent;
        direction: ltr;
        margin-left: 20px;
    }

    .Subscribe button {
        margin-top: 10px;
        height: 40px;
        width: 270px;
        border-radius: 50px;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .footerTextBottom {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footerTextBottom span {
        margin: 0;
    }

    .footerTextBottom .LinkImg {
        margin-right: 0;
        margin-top: 20px;
    }
}


