.Categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.View {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px auto;
    width: 218px;
    height: 52px;
    padding: 16px 54px 16px 54px;
    border-radius: 62px ;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

@media (min-device-width: 320px) and (max-device-width: 490px) {
    .Categories {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
}